.single{
    display: flex;
    margin-top: 20px;
}

@media screen and (max-width : 600px) {
    .single {
        display: block;
    }
    .singlepost .title-icon .icons{
        float: none;
    }
}